<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" th:href="@{/css/login_style.css}">

</head>
<body>
<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center mb-5">
                <h2 class="heading-section">회원가입</h2>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-4">
                <div class="login-wrap py-5">
                    <div class="img d-flex align-items-center justify-content-center" style="background-image: url(images/bg.jpg);"></div>
                    <h3 class="text-center mb-0">환영합니다</h3>
                    <p class="text-center">Togo 서비스를 즐기기 위해서 회원가입을 진행해주세요</p>
                    <form action="#" class="login-form">
                        <div class="form-group">
                            <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-user"></span></div>
                            <input type="text" class="form-control" placeholder="이름" required>
                        </div>

                        <div class="form-group">
                            <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-lock"></span></div>
                            <input type="text" class="form-control" placeholder="이메일" required>
                        </div>

                        <div class="form-group">
                            <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-lock"></span></div>
                            <input type="password" class="form-control" placeholder="비밀번호" required>
                        </div>


                        <div class="form-group">
                            <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-lock"></span></div>
                            <input type="text" class="form-control" placeholder="핸드폰 번호" required>
                        </div>

                        <div class="form-group">
                            <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-lock"></span></div>
                            <input type="text" class="form-control" placeholder="생년월일" required>
                        </div>


<!--                        <div class="form-group d-md-flex">-->
<!--&lt;!&ndash;                            <div class="w-100 text-md-right">&ndash;&gt;-->
<!--&lt;!&ndash;                                <a href="#">구글로 로그인</a>&ndash;&gt;-->
<!--&lt;!&ndash;                            </div>&ndash;&gt;-->
<!--                        </div>-->
                        <div class="form-group">
                            <button type="submit" class="btn form-control btn-primary rounded submit px-3">가입하기</button>
                        </div>
                    </form>
                    <div class="w-100 text-center mt-4 text">
                        <p class="mb-0">    </p>
                        <a th:href="@{/user/signup}">google로 로그인</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script th:src="@{/js/login_jquery.min.js}"></script>
<script th:src="@{/js/login_popper.js}"></script>
<script th:src="@{/js/login_bootstrap.min.js}"></script>
<script th:src="@{/js/login_main.js}"></script>

</body>
</html>

